.inter-fnt{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
  }
  .open-sans-raleway {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


body{
    
     background-color: rgba(120, 156, 255, 0.07);
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;  
    padding: 50px 0px; 
}
nav h3{
    font-size: 34px;
    color: #4E47FF;
    
}
.signup-btn{
    background-color: #4E47FF;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 35px;
    border: 1px solid #4E47FF;
    border-radius: 11px;    
}
.banner{
    
    text-align: center;
}

.main-text{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.focus-btn{
    width: 174px;
    height: 48px;
    border: 1px solid #4E47FF;
    border-radius: 10px; 
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;

}

.header{
    background-image: url(Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;

}
.first-sec{
    margin: 116px 140px;
    width: 80%;
    height: 328px;
    display: flex;
    gap: 220px;
}

.first-sec-left{
    width: 517px;
    height: 203px;
}

.first-sec-left-head{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.first-sec-left-paragraph{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
} 
.first-sec-left-btn{
    width: 229px;
    height: 48px;
    border: 1px solid #4E47FF;
    border-radius: 10px; 
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;

}
.first-sec-pic-1{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.second-sec{
    background-color: rgba(77, 71, 255, 0.10);
    margin: 116px 140px;
    height: 306px;
    padding: 50px 142px;
    border-radius: 10px;
}

.second-sec-part-2{
    display: flex;
    justify-content: space-around;
}

.second-sec-upper{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.second-sec-lower{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.third-sec{
    margin: 116px 140px;
    height: 342px;
}
.third-sec-inner{
    display: flex;
    gap: 20px;
}

.third-sec-part-2{
    width: 366px;
    height: 243px;
    border: 1.6px solid #F2EDED;
    border-radius: 14px;
    box-shadow: 1px 1px 10px 5px rgb(236, 244, 252);

}

.review-dscrp{
    width: 318px;
    height: 81px;
    margin: 24px;
}

.review-head{
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
    margin-bottom: 9px;

}
.review-detail{
    font-size: 16px;
    color: #1E1E1E;
    margin-top: 0px;


}

.reviewer{
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 24px;
}
.reviewer-name{
    color: #757575;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}
.date{
    margin: 0px;
}
.personal-details{
    gap: 0px;
}
.star-icons{
    width: 116px;
    height: 20px;
    margin: 24px;
}
.star{
    width: 20px;
    height: 20px;
}
.avatar{
    height: 40px;
    width: 40px;
    border-radius: 9999px;
}

.fourth-sec{
    margin: 116px 138px;

    height: 697px;
    background-color: white;
    padding: 71px 150px;
}
.h1-fourth{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.p-fourth{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    
}
.get-started-btn{
    width: 195px;
    height: 48px;
    border: 0.5px solid #4E47FF;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    text-align: center;
    font-size: 16px;
    margin: 20px 36.5%;
    
}

.img-fourth{
    width: 760px;
    height: 330px;
    border-radius: 48px;
    margin-top: 20px;
    
}

.fifth-sec{
    height: 632px;
    margin: 116px 138px;
    padding-bottom: 0px;
    
    
}
.fifth-sec-inner{
    display: flex;    
}
.sec-title{
    width: 528px;
    height: 232px;
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin-bottom: 200px;
    margin-bottom: 200px;
}
.sec-form{
    width: 497px;
    height: 490px;
}
.label{
    font-size: 12px;
    font-weight: bold;
    
}

.sec-form input[type="text"]{
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin-bottom: 18px;
    border: 1px solid #D6DDED;
    padding: 20px 30px;
    font-size: 20px;


}
.sec-form textarea{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    
}
.fifth-sec-btn{
    width: 560px;
    height: 62px;
    color: white;
    background-color: #4E47FF;
    margin-top: 18px;
    border-radius: 10px;
    border: 1px solid #4E47FF;
    font-size: 16px;
}


.footer{
    width: 100%;
    height: 500px;
    background-color: white;
    text-align: center; 
    padding: 0;
}


.main-box-footer{
    padding: 20px;
    display: block;
    gap: 0px;
}
.big-heading{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
    
}
.big-heading-next{
    height: 48px;
    text-align: center;
    color: #8987A1;
    padding-left: 400px;
    padding-right: 400px;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-box-footer-upper{
    display: block;
    
}
.footer-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly
}
.listing{
    color: #8987A1;
    font-size: 15px;
}
.main-box-footer-lower{
    margin: 0 auto;
    padding-left: 377px ;
    padding-right: 417px;
    
}